.books-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.category-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 100px;
}

.books-row h1{
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #5E56E7;
    padding-left: 20px;
    
}

.books-row .searchBar{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F0F0F6;
    margin-bottom: 25px;
    margin-top: 20px;
    height: 40px;
    width: 90%;
    border-radius: 10px;
       
}

.searchBar #header-search{
    background-color: #F0F0F6;
    outline-style: none;
    width: 90%;
    border-style: hidden;
}

.bookcard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;



}
.bookcard img{
    height: 162px;
    width: 114px;
    border-radius: 10px;
}
.bookcard p{
    font-size: 10px;
    
}
.bookcard h6{
    margin: 10px;
}


